// Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Controller
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/projects/c2dc.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Impulsionado pela adoção do 5G novas aplicações começam a surgir.  Elas representam grandes avanços tecnológicos, dentre eles os veículos autônomos se destacam.  No entanto, a exploração de vulnerabilidades neste contexto podem ser catastróficas, inclusive possibilitando o foco em pessoas alvo.  Neste trabalho exploraremos como funciona a implementação deste tipo de aplicação em testbed real e como é caracterizado o tráfego típico desta aplicação.  Algoritmos de aprendizado de máquina são utilizados para implementar mecanismos de detecção de anomalias para proteção contra ataques cibernéticos.
                            button.btn.btn-primary(href='#!', data-bs-dismiss='modal')
                                i.fas.fa-times.fa-fw
                                | Close Window
